<table class="table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Experience</th>
    <th>Speciality</th>

    <th>Action</th>
  </tr>
  <tr *ngFor="let c of chefs">
    <th>{{ c._id }}</th>
    <th>{{ c.name }}</th>
    <th>{{ c.experience }}</th>
    <th>{{ c.speciality }}</th>

    <th>
      <button class="btn btn-info" (click)="display(c._id)">Display</button>
      <button
        style="margin-left: 5px; margin-right: 5px"
        class="btn btn-warning"
        (click)="edit(c._id)"
      >
        Edit
      </button>
      <button class="btn btn-danger" (click)="delete(c._id)">Delete</button>
    </th>
  </tr>
</table>
