<section class="regervation_part section_padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-5">
        <div class="section_tittle">
          <h2>Signup</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="regervation_part_iner">
          <form [formGroup]="signupForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input
                  type="text"
                  formControlName="firstName"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="First Name"
                />
                <div
                  *ngIf="
                    signupForm.controls['firstName'].invalid &&
                    (signupForm.controls['firstName'].touched ||
                      signupForm.controls['firstName'].dirty)
                  "
                ></div>

                <div
                  style="color: white"
                  *ngIf="signupForm.controls['firstName'].errors?.['required']"
                >
                  First Name is required
                </div>

                <div
                  style="color: white"
                  *ngIf="signupForm.controls['firstName'].errors?.['minlength']"
                >
                  First name must have at least 5 chars
                </div>
              </div>

              <div class="form-group col-md-6">
                <input
                  type="text"
                  formControlName="lastName"
                  class="form-control"
                  id="inputPassword4"
                  placeholder="Last Name"
                />
                <div
                  *ngIf="
                    signupForm.controls['lastName'].invalid &&
                    (signupForm.controls['lastName'].touched ||
                      signupForm.controls['lastName'].dirty)
                  "
                ></div>
                <div
                  style="color: white"
                  *ngIf="signupForm.controls['lastName'].errors?.['required']"
                >
                  Last name is required
                </div>
                <div
                  style="color: white"
                  *ngIf="signupForm.controls['lastName'].errors?.['minlength']"
                >
                  Last name must have at least 3 chars
                </div>
              </div>

              <div class="form-group col-md-6">
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  id="inputPassword4"
                  placeholder="Email"
                />
                <div
                  *ngIf="
                    signupForm.controls['email'].invalid &&
                    (signupForm.controls['email'].touched ||
                      signupForm.controls['email'].dirty)
                  "
                ></div>
                <div
                  style="color: white"
                  *ngIf="signupForm.controls['email'].errors?.['required']"
                >
                  Email is required
                </div>

                <div
                  style="color: white"
                  *ngIf="signupForm.controls['email'].errors?.['email']"
                >
                  please enter a valid Email
                </div>
              </div>

              <div class="form-group col-md-6">
                <input
                  type="password"
                  formControlName="pwd"
                  class="form-control"
                  id="pnone"
                  placeholder="Password"
                  (keyup)="matchPwd()"
                />
                <div
                  *ngIf="
                    signupForm.controls['pwd'].invalid &&
                    (signupForm.controls['pwd'].touched ||
                      signupForm.controls['pwd'].dirty)
                  "
                ></div>
                <div
                  style="color: white"
                  *ngIf="signupForm.controls['pwd'].errors?.['required']"
                >
                  Password is required
                </div>
                <div
                  style="color: white"
                  *ngIf="signupForm.controls['pwd'].errors?.['minlength']"
                >
                  Password must have at least 5 chars
                </div>
                <div
                  style="color: white"
                  *ngIf="signupForm.controls['pwd'].errors?.['maxlength']"
                >
                  Password must have maximum 8 chars
                </div>
              </div>

              <div class="form-group col-md-6">
                <div class="input-group date">
                  <input
                    id="datepicker"
                    formControlName="confirmPwd"
                    (keyup)="matchPwd()"
                    type="password"
                    class="form-control"
                    placeholder="Confirm Password"
                  />
                  <div style="color: white" *ngIf="!test">
                    Passwords does not match
                  </div>
                  <div
                    style="color: white"
                    *ngIf="signupForm.controls['confirmPwd'].errors?.['required']"
                  >
                    Password is required
                  </div>
                </div>
              </div>
            </div>

            <div class="regerv_btn">
              <input
                type="submit"
                value="signup"
                id="submit"
                (click)="signup()"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
